* text=auto
* -diff
*.cs diff=csharp
*.js diff=html
*.json diff=json

# Don't convert line endings for binary files
*.png binary
*.jpg binary
*.gif binary
*.zip binary

# Fix line endings
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf